{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}TutorHub{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header class="site-header">
    <div class="container nav-row">
        <a class="brand" href="{% url 'home' %}">TutorHub</a>
        <nav class="nav-links"><a href="{% url 'home' %}">Home</a></nav>
    </div>
</header>
<main class="container page-space">{% block content %}{% endblock %}</main>
<footer class="site-footer"><div class="container">CSE 3206 Lab 2 MVP - Online Tutoring Platform</div></footer>
</body>
</html>
